.btn {
  &.-primary {
    @apply shadow-md;
    @apply mb-1;
    @apply bg-nord0;
    @apply mx-1;
    @apply border-nord13;
    @apply border;
    @apply text-nord13;
    @apply font-bold;
    @apply py-2;
    @apply px-4;
    @apply rounded;
  }
}