.progress {
  @apply relative;
  @apply overflow-hidden;
  @apply min-w-full;
  @apply rounded;

  &::before {
    content: '';
    animation: loop linear 5s infinite;

    @apply absolute;
    @apply top-0;
    @apply right-0;
    @apply bottom-0;
    @apply bg-nord10;
    @apply w-1/3;
    
    @keyframes loop {
      from {
        left: -33%;
      }
      to {
        left: 133%;
      }
    }
  }
}