.responsive-table {
  @apply overflow-x-scroll;
  @apply rounded;

  @screen md {
    @apply shadow-md;
  }
}

table {
  @apply w-full;

  @screen md {
    @apply rounded;
    @apply overflow-hidden;
    @apply shadow-md;
  }

  th {
    @apply py-2;
  }

  td,
  th {
    @apply px-3;

    &.shrink {
      @apply whitespace-no-wrap;
    }

    &.expand {
      @apply w-full;
    }
  }

  thead {
    @apply hidden;
    @apply border-b;
    @apply uppercase;
    letter-spacing: 1px;

    @screen md {
      @apply table-header-group;
    }
  }

  tbody {
    tr {
      @apply cursor-pointer;
      @apply flex;
      @apply flex-col;
      @apply text-right;
      @apply shadow-md;
      @apply rounded;
      @apply overflow-hidden;

      @screen md {
        @apply table-row;
        @apply text-center;
        @apply mb-0;
        @apply rounded-none;
        @apply shadow-none;
      }

      &:not(:last-child) {
        @apply mb-4;
      }

      td {
        &.icon {
          @apply hidden;

          @screen md {
            @apply table-cell;
          }
        }

        &:before {
          content: attr(data-label);
          @apply float-left;
          @apply font-bold;

          @screen md {
            @apply hidden;
          }
        }
      }
    }
  }

  td {
    @apply py-2;
  }
}

:root:not(.mode-dark) {
  table {
    @apply text-nord0;
    
    @screen md {
      @apply bg-nord5;
    }  

    thead {
      @apply border-nord3;
      th {
        @apply text-nord3;
      }
    }

    tbody {
      tr {
        td {
          &:nth-of-type(odd) {
            @apply bg-nord6;
          }
  
          &:nth-of-type(even) {
            @apply bg-nord5;
          }
        }

        @screen md {
          td {
            &:nth-of-type(odd) {
              @apply bg-transparent;
            }
    
            &:nth-of-type(even) {
              @apply bg-transparent;
            }
          }

          &:nth-of-type(odd) {
            @apply bg-nord6;
          }
  
          &:nth-of-type(even) {
            @apply bg-nord5;
          }
        }
      }
    }
  }
}

:root.mode-dark {
  table {
    @apply text-nord6;

    @screen md {
      @apply bg-nord1;
    }

    thead {
      @apply border-nord2;
      th {
        @apply text-nord4;
      }
    }

    tbody {
      tr {
        td {
          &:nth-of-type(odd) {
            @apply bg-nord3;
          }
  
          &:nth-of-type(even) {
            @apply bg-nord2;
          }
        }

        @screen md {
          td {
            &:nth-of-type(odd) {
              @apply bg-transparent;
            }
    
            &:nth-of-type(even) {
              @apply bg-transparent;
            }
          }

          &:nth-of-type(odd) {
            @apply bg-nord3;
          }
  
          &:nth-of-type(even) {
            @apply bg-nord2;
          }
        }
      }
    }
  }
}