// brands colors
$orange: #ff9a00; 
$orange-bis: #ff5700; 
$orange-ter: #da4302;
$yellow: #ffdd57; 
$yellow-invert: findColorInvert($yellow);

// socials colors
$patreon: rgb(232, 91, 70);
$patreon-invert: findColorInvert($patreon);
$twitch: #772ce8;
$twitch-invert: findColorInvert($twitch);
$discord: #7289da;
$discord-invert: findColorInvert($discord);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Update Bulma's global variables
// Set your brand colors
$primary: $orange-ter;
$primary-invert: findColorInvert($primary);
$text-light: $light;

// derived
$scheme-main: #616161;
$scheme-main-bis: #424242;
$scheme-main-ter: #212121;

$black: $scheme-main-ter; 
$dark: $scheme-main-bis;

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-hover: $yellow;
$link-focus-border: $orange;

// menu
$menu-item-color: $light;
$menu-item-active-color: $light;
$menu-item-hover-color: $light;
$menu-item-hover-background-color: $scheme-main;
$menu-item-active-background-color: $scheme-main-bis;

// breadcrumb
$breadcrumb-item-color: $link;
$breadcrumb-item-hover-color: $link-invert;
$breadcrumb-item-active-color: $light;

// button
$button-color: $light;
$button-hover-color: $light;
$button-background-color: $scheme-main-bis;

// card
$card-color: $light;
$card-header-color: $light;
$card-background-color: $scheme-main-bis;

// table
$table-color: $light;
$table-head-background-color: $scheme-main-ter;
$table-background-color: $scheme-main-ter;
$table-row-hover-background-color: $scheme-main;
$table-striped-row-even-background-color: $scheme-main-bis;
$table-striped-row-even-hover-background-color: $scheme-main; 

$table-head-cell-color: $light;
$table-cell-border: 1px solid $scheme-main;

// udpating loading
$loading-background: none;

// sidebar
$sidebar-width: 300px;

// updating footer
$footer-padding: 3rem 1.5rem;
$footer-background-color: $scheme-main-bis;

// updating section
$section-padding-y: 3rem;
$section-padding-x: 1.5rem;
$section-padding-medium-y: 9rem;
$section-padding-medium-x: 1.5rem;
$section-padding-large-y: 18rem;
$section-padding-large-x: 1.5rem;

$section-padding: $section-padding-y $section-padding-x;
$section-padding-medium: $section-padding-medium-y $section-padding-medium-x;
$section-padding-large: $section-padding-large-y $section-padding-large-x;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "yellow": (
    $yellow,
    $yellow-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  ),
  "twitter": (
    $twitter,
    $twitter-invert
  ),
  "discord": (
    $discord,
    $discord-invert
  ),
  "twitch": (
    $twitch,
    $twitch-invert
  ),
  "patreon": (
    $patreon,
    $patreon-invert
  ),
);
