// brands colors
$brand-dark: #303242;
$blue-dark: #032535;
$orange-dark: #da4302;
$orange: #ff5700; 
$orange-light: #ff9a00; 
$yellow: #ffb515; 

// socials colors
$patreon: rgb(232, 91, 70);
$patreon-invert: findColorInvert($patreon);
$twitch: #772ce8;
$twitch-invert: findColorInvert($twitch);
$discord: #7289da;
$discord-invert: findColorInvert($discord);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Update Bulma's global variables
// Set your brand colors
$dark: $blue-dark;
$primary: $orange-dark;
$primary-invert: findColorInvert($primary);
$link: $yellow;
$text-light: $light;

// menu
// $menu-label-color: $white;

// table
// $table-color: $white;
$table-background-color: $light;


// udpating loading
$loading-background: none;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$sidebar-width: 300px;

// updating footer
$footer-padding: 3rem 1.5rem;
$footer-background-color: $dark;

// updating section
$section-padding-y: 3rem;
$section-padding-x: 1.5rem;
$section-padding-medium-y: 9rem;
$section-padding-medium-x: 1.5rem;
$section-padding-large-y: 18rem;
$section-padding-large-x: 1.5rem;

$section-padding: $section-padding-y $section-padding-x;
$section-padding-medium: $section-padding-medium-y $section-padding-medium-x;
$section-padding-large: $section-padding-large-y $section-padding-large-x;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  ),
  "twitter": (
    $twitter,
    $twitter-invert
  ),
  "discord": (
    $discord,
    $discord-invert
  ),
  "twitch": (
    $twitch,
    $twitch-invert
  ),
  "patreon": (
    $patreon,
    $patreon-invert
  ),
);

@each $key, $color in $colors {
  .has-text-#{$key}-hover:hover {
    color: $color !important;
  }
}

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
