@use './skeleton' as m;

/**
 * Scoped CSS Doesn't work on dynamic content 
 * https://github.com/vuejs/vue-loader/issues/559
 */
.speedsouls-video {
  width: 100%;
  padding-top: 56.25%;

  @include m.skeleton();

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
